/* Настройка вьюпорта */
$panel-width: 320px;
$body-color: white;

/* Настройка текстовых параметров */
$default-font: "Open Sans", "Arial", sans-serif;
$text-color: #333333;
$text-weight: 400;

/* Основной цвет сайта */
$main-color: #283645;

/* Миксин для верстки блоков сетки */
@mixin wrapper($outline-color) {
  width: $panel-width;
  margin: 0 auto;
  outline: 1px solid $outline-color;
}

/* Миксин для текста */
@mixin text-value($f-size, $l-height, $f-weight, $t-color) {
  font-size: $f-size;
  line-height: $l-height;
  font-weight: $f-weight;
  color: $t-color;
}
