body {
  min-width: $panel-width;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: $text-weight;
  color: $text-color;
  background-color: $body-color;
}

.set-width {
  width: $panel-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.bg-container {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: repeat;
  background-position: top;
  background-size: cover;
}

.bg-container--main-1 {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175.5deg, #ffffff 0, #ffffff 28.7%, #f2f2f2 28.7%, #f2f2f2 100%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-text {
  margin: 0;

  @include text-value(14px, 30px, 400, $text-color);
}
