.editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {

  }
}

.editor__tools {
  @include list-init;
  width: 237px;
  height: 50px;
  padding-right: 10px;
  margin: 36px auto 73px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 216px;
    padding-left: 30px;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
  }
}

.editor__item {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    border-bottom: 1px solid #dddfe0;
    position: absolute;
    top: 120px;
    left: -55px;
  }

  @media (max-width: $mobile-width-only) {
    &:not(.editor__item--mobile-active) {

      &::before {
        display: none;
      }
    }
  }
}

.editor__btn {
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
}

.editor__btn--crop {
  width: 44px;
  height: 44px;
  background-image: url("..//img/icon-editor-crop.svg");
}

.editor__btn--contrast {
  width: 32px;
  height: 32px;
  background-image: url("..//img/icon-editor-contrast.svg");
}

.editor__btn--fill {
  width: 48px;
  height: 43px;
  background-image: url("..//img/icon-editor-fill.svg");
}

.editor__scale {
  width: 240px;
  height: 1px;
  margin: auto;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: -17px;
  top: 82px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 193px;
    top: -5px;
    height: 10px;
    width: 10px;
    border: 2px solid $violet-color;
    border-radius: 50%;
    background-color: #f1f1f1;
  }

  @media (max-width: $mobile-width-only) {
    &:not(.editor__scale--mobile-active) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;

    &--pos1 {
      &::before {
        left: 144px;
      }
    }

    &--pos3 {
      &::before {
        left: 14px;
      }
    }

    &--pos5 {
      &::before {
        left: 58px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--pos2 {
      &::before {
        left: 45px;
      }
    }

    &--pos4 {
      &::before {
        left: 214px;
      }
    }

    &--pos6 {
      &::before {
        left: 158px;
      }
    }
  }
}

.editor__buttons {
  min-height: 120px;
  margin: 40px auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.editor__button--execute {
  @include btn($panel-width, $violet-color);
}

.editor__button--cancel {
  @include btn($panel-width, $text-color);
}
