.editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor__tools {
  @include list-init;
  width: 252px;
  height: 50px;
  padding-left: 2px;
  margin: 36px auto 73px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 216px;
    padding-left: 30px;
    padding-right: 0;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    padding: 0;
  }
}

.editor__item {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    border-bottom: 1px solid #dddfe0;
    position: absolute;
    top: 120px;
    left: -55px;
  }

  @media (max-width: $mobile-width-only) {
    &:not(.editor__item--mobile-active) {
      &::before {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 275px;
      top: 55px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 410px;
    }
  }
}

.editor__btn {
  width: 48px;
  height: 44px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
}

.editor__btn--crop {
  background-image: url("..//img/icon-editor-crop.svg");
}

.editor__btn--contrast {
  background-image: url("..//img/icon-editor-contrast.svg");
}

.editor__btn--fill {
  background-image: url("..//img/icon-editor-fill.svg");
}

.editor__scale {
  width: 240px;
  height: 1px;
  margin: auto;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: -15px;
  top: 82px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 193px;
    top: -5px;
    height: 10px;
    width: 10px;
    border: 2px solid $violet-color;
    border-radius: 50%;
    background-color: #f1f1f1;
  }

  @media (max-width: $mobile-width-only) {
    &:not(.editor__scale--mobile-active) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 200px;
    left: 50px;
    top: 24px;

    &--pos1 {
      &::before {
        left: 144px;
      }
    }

    &--pos3 {
      &::before {
        left: 24px;
      }
    }

    &--pos5 {
      &::before {
        left: 96px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    left: 92px;

    &--pos2 {
      &::before {
        left: 70px;
      }
    }

    &--pos4 {
      &::before {
        left: 245px;
      }
    }

    &--pos6 {
      &::before {
        left: 160px;
      }
    }
  }
}

.editor__buttons {
  min-height: 120px;
  margin: 40px auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-height: 133px;
    margin: 0 auto;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 53px;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
  }
}

.editor__button--execute {
  @include btn($panel-width, $violet-color);

  @media (min-width: $tablet-width) {
    @include btn(300px, $violet-color);
  }

  @media (min-width: $desktop-width) {
    @include btn(215px, $violet-color);
  }
}

.editor__button--cancel {
  @include btn($panel-width, $text-color);

  @media (min-width: $tablet-width) {
    @include btn(300px, $text-color);
  }

  @media (min-width: $desktop-width) {
    @include btn(215px, $text-color);
  }
}
