.gallery {
  outline: 1px solid mediumvioletred;
}

.gallery__list {
  @include list-init;
  margin: auto;
  outline: 1px solid magenta;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0;
  }
}

.gallery__item {
  width: 280px;
  margin: 0 auto 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 50%;

    &--panorama {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    flex-grow: 1;
    margin-bottom: 55px;

    &--panorama {
      width: 100%;
    }
  }
}

.gallery__img-wrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  outline: 1px solid red;
}

.gallery__img {
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

  &--panorama {
    display: block;
    position: relative;
    height: 137px;
    left: 50%;
    transform: translate(-50%);

    @media (min-width: $tablet-width) {
      height: 509px;
    }

    @media (min-width: $desktop-width) {
      height: 507px;
    }
  }
}
