.gallery {
  width: $panel-width;
  margin: 0 auto;
  outline: 1px solid mediumvioletred;
}

.gallery__list {
  @include list-init;
  display: flex;
  flex-direction: column;
}

.gallery__panorama {
  margin: 0;
}

.gallery__item {
  width: 280px;
  margin: 0 auto 23px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
