.gallery {
  @include wrapper(mediumvioletred);
}

.gallery__title {
  min-height: 110px;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
  background-color: $main-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -70px;
  overflow: hidden;

  @include text-value(24px, 28px, 300, white);
}

.gallery__offer {
  padding: 45px 30px 50px;
  text-align: center;
  background-color: white;

  @include text-value(14px, 30px, 400, $text-color);
}

.gallery__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.gallery__panorama {
  margin: 0;

  outline: 1px solid lime;
}

.gallery__item {
  width: 280px;
  margin: 0 auto 23px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  outline: 1px solid skyblue;
}
