/*.post {

}*/

.post__wrap {
  padding: 14px 17px 20px;
}

/*.post__author {

}*/

.post__name {
  @include text-value(14px, 24px, 700, $text-color);
}

.post__time {
  @include text-value(12px, 24px, 300, $text-color);
  text-transform: uppercase;
}

.post__message {
  @include text-value(14px, 24px, 400, $text-color);
  margin: 0;
  margin-bottom: 9px;
}

.post__like {
  @include text-value(12px, 24px, 400, #cc3366);
  padding-left: 33px;
  align-self: flex-start;
  border: none;
  text-transform: uppercase;
}
