.upload {
  margin: 0 auto;
  outline: 1px solid forestgreen;
  min-height: 920px;
  background-color: #f2f2f2;
}

.upload__offer {
  @include text-value(14px, 30px, 400, $text-color);
  margin: 0;
  padding: 22px 28px 40px;
  text-align: center;
  background-color: white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 45px 28px 68px;
  }
}

.upload__photo {
  padding: 20px;
}

.upload__edit {
  width: $panel-width;
  margin: 0 auto;
  outline: 1px solid crimson;
  min-height: 140px;
}

.upload__buttons {
  min-height: 120px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*.upload__button {

}*/

.upload__button--execute {
  @include btn($panel-width, $violet-color);
}

.upload__button--cancel {
  @include btn($panel-width, $text-color);
}
