.page-main {
  width: $panel-width;
  margin: 0 auto;
  outline: 1px solid blue;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width + 240px;
  }
}

.page-main__title {
  @include text-value(24px, 28px, 300, white);
  min-height: 110px;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
  background-color: $main-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -70px;
  overflow: hidden;
}

.page-main__text {
  @include text-value(14px, 30px, 400, $text-color);
  padding: 45px 20px 50px;
  text-align: center;
  background-color: white;
}

.page-main__text--form {
  padding-bottom: 30px;
}

.page-main__bg-container {
  @media (min-width: $desktop-width) {
    width: $desktop-width + 240px;
    padding-bottom: 110px;
    background-image: linear-gradient(175.5deg, #ffffff 0, #ffffff 28.7%, #f2f2f2 28.7%, #f2f2f2 100%);
  }
}

.page-main__bg-container--second {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175.5deg, #ffffff 0, #ffffff 38%, #f2f2f2 38%, #f2f2f2 100%);
  }
}
