.page-header {
  margin: 0 auto;
  min-height: 325px;
  background: transparent;
  outline: 1px solid orange;

  @media (min-width: $desktop-width) {
    min-height: 108px;
    display: flex;
    flex-direction: column;
  }
}

.page-header__nav-wrapper {
  width: $panel-width;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    outline: 1px solid white;
  }
}

.page-header__panel {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 108px;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
    outline: 1px solid white;
  }
}

.page-header__toggle {
  border: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo {
  height: 70px;
  margin-left: 20px;
}

.page-header__logo-image {
  padding-top: 20px;
}
