.page-footer {
  min-height: 235px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid olivedrab;

  @media (min-width: $tablet-width) {
    min-height: 125px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    min-height: 198px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-footer--mobile {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-footer__logo {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: -20px;
  }
}

.page-footer__logo-image {
  color: #333333;

  &:hover {
    color: $violet-color;
  }

  &:active {
    color: #333333;
    opacity: 0.3;
  }

  &--mobile {
    width: 147px;
    height: 41px;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--desktop {
      display: block;
      width: 147px;
      height: 41px;
    }

    &--mobile {
      display: none;
    }
  }
}


.page-footer__social {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: -10px;
    padding-right: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-right: 0;
  }
}

.page-footer__copyright {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
