.page-main {
  width: $panel-width;
  margin: 0 auto;
  outline: 1px solid blue;
}

.page-main__title {
  @include text-value(24px, 28px, 300, white);
  min-height: 110px;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
  background-color: $main-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -70px;
  overflow: hidden;
}

.page-main__text {
  @include text-value(14px, 30px, 400, $text-color);
  padding: 45px 20px 50px;
  text-align: center;
  background-color: white;
}

.page-main__text--form {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
  }

  /*.page-main__title {
    background-image: none;
  }*/
}
