.social {
  width: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-left: 11px;
  }
}

.social__btn {
  width: 44px;
  height: 44px;
  border: 4px solid $gray-color;
  border-radius: 50%;

  &:hover {
    border-color: rgba(51, 51, 51, 1);
  }

  &:active {
    border-color: rgba(51, 51, 51, 0.3);
  }
}

.social__img {
  width: 18px;
  height: 15px;

  &--fb {
    width: 9px;
    height: 19px;
  }

  &--yt {
    width: 15px;
    height: 14px;
  }
}
