.gallery {

}

.gallery__title {

}

.gallery__offer {

}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__item--panorama {
  padding: 0;
}

.gallery__nickname {

}

.gallery__time {

}

.gallery__message {

}

.gallery__like {

}
