.contest {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contest__list {
  @include list-init;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
  }
}

.contest__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;

    &--name {
      margin-top: 40px;
      margin-bottom: 12px;
    }

    &--contact {
      flex-direction: column;
      margin-top: 26px;
    }

    &--apps {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
}

.contest__group {
  margin: 0 0 23px;
  padding: 0 20px;
  border-color: transparent;

  &--apps {
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 20px 23px;
    padding: 0;
    border-color: #f2f2f2;

    &--name {
      order: -4;
      margin-bottom: 47px;
      border-color: transparent;
    }

    &--travel {
      order: -1;
      margin-bottom: 45px;
      padding-top: 42px;
      padding-bottom: 7px;
    }

    &--contact {
      order: -2;
      padding: 12px 60px 17px;
      margin-bottom: 57px;
    }

    &--apps {
      order: -3;
      margin-bottom: 55px;
      padding-top: 40px;
      padding-bottom: 17px;
    }
  }
}

.contest__group--background {
  @media (max-width: $mobile-width-only) {
    position: relative;
    padding-top: 110px;
    background-color: #f2f2f2;
  }
}

.contest__label {
  @include text-value(14px, 30px, 400, $violet-color);
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 22px;
  text-transform: uppercase;

  &--checkbox {
    @include text-value(18px, 30px, 400, $text-color);
    margin-bottom: 48px;
    padding-left: 69px;
    text-transform: none;
    position: relative;
  }

  &--radio {
    @include text-value(18px, 30px, 400, $text-color);
    margin-bottom: 40px;
    padding-left: 69px;
    text-transform: none;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 16px;

    &--radio {
      padding-left: 60px;
      margin-bottom: 31px;
      margin-left: 57px;
    }

    &--checkbox {
      margin-left: 57px;
      padding-left: 60px;
    }

    &--contact {
      align-self: flex-start;
      padding-left: 17px;
      padding-top: 9px;
    }
  }
}

.contest__checkbox,
.contest__radio {
  display: none;
}

.contest__custom-checkbox {
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: -3px;
}

.contest__checkbox:checked + .contest__custom-checkbox::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 6px;
  width: 19px;
  height: 7px;
  border-left: 2px solid $violet-color;
  border-bottom: 2px solid $violet-color;
  transform: rotate(-43deg);
}

.contest__custom-radio {
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: -3px;
}

.contest__radio:checked + .contest__custom-radio::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  width: 10px;
  height: 10px;
  border: 2px solid $violet-color;
  background-color: $violet-color;
  border-radius: 50%;
}

.contest__label--letter {
  padding-left: 0;
  margin-bottom: 10px;
  align-self: center;
}

.contest__field {
  @include text-value(18px, 30px, 400, $text-color);
  width: 280px;
  padding: 14px 20px;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
  border: 2px solid #cccccc;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 0;

    &--contact {
      order: -1;
      padding-right: 60px;
    }
  }
}

.contest__description {
  @include text-value(14px, 18px, 400, #cc3366);
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 35px;
  left: 0;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    &--contact {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
  }
}

.contest__letter {
  @include text-value(18px, 30px, 400, $text-color);
  margin: 0 20px 25px;
  padding: 18px 20px 6px;
  resize: none;
  font-family: inherit;
}

.contest__submit-wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contest__submit {
  @include text-value(18px, 30px, 700, white);
  padding: 17px 20px;
  margin: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;

  @media (min-width: $tablet-width) {
    width: 300px;
    box-sizing: border-box;
  }
}

.contest__note {
  @include text-value(14px, 30px, 400, $text-color);
  text-transform: uppercase;
  text-align: center;
}
