.contest {
  width: $panel-width;
  margin: 0 auto;
  min-height: 2060px;
  display: flex;
  flex-direction: column;
}

.contest__group {
  margin-bottom: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  border: 0;
}

.contest__group--background {
  position: relative;
  padding-top: 110px;
  background-color: #f2f2f2;
}

.contest__label {
  @include text-value(14px, 30px, 400, #cc3366);
  padding-left: 20px;
  padding-top: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.contest__label--checkbox {
  @include text-value(18px, 30px, 400, $text-color);
  text-transform: none;
  margin-bottom: 42px;
  padding: 5px 0 5px 68px;
}

.contest__label--radio {
  @include text-value(18px, 30px, 400, $text-color);
  text-transform: none;
  margin-bottom: 40px;
  padding: 0 0 5px 68px;
}

.contest__label--letter {
  padding-left: 0;
  margin-bottom: 10px;
  align-self: center;
}

.contest__field {
  @include text-value(18px, 30px, 400, $text-color);
  padding: 14px 18px;
  margin-bottom: 16px;
  border: 2px solid #cccccc;
}

.contest__description {
  @include text-value(14px, 18px, 400, #cc3366);
  position: absolute;
  top: 37px;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  border: 0;
}

.contest__letter {
  @include text-value(18px, 30px, 400, $text-color);
  margin: 0 20px 25px;
  padding: 18px 20px;
  resize: none;
  font-family: inherit;
}

.contest__submit {
  @include text-value(18px, 30px, 700, white);
  padding: 17px 20px;
  margin: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;
}

.contest__note {
  @include text-value(14px, 30px, 400, $text-color);
  text-transform: uppercase;
  text-align: center;
}
