.contest {
  min-height: 2060px;
  display: flex;
  flex-direction: column;

  @include wrapper(orange);
}

.contest__group {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.contest__group--background {
  background-color: #f2f2f2;
}

.contest__label {
  text-transform: uppercase;

  @include text-value(14px, 30px, 400, #cc3366);
}

.contest__label--option {
  text-transform: none;

  @include text-value(14px, 30px, 400, $text-color);
}

.contest__label--letter {
  align-self: center;
}

/*.contest__field {

}*/

.contest__description {
  text-align: center;

  @include text-value(14px, 18px, 400, #cc3366);
}

/*.contest__checkbox {

}

.contest__radio {

}*/

.contest__letter {
  margin: 20px;
}

.contest__submit {
  padding: 20px;
  margin: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;

  @include text-value(18px, 30px, 700, white);
}

.contest__note {
  text-transform: uppercase;
  text-align: center;

  @include text-value(14px, 30px, 400, $text-color);
}
