.contacts {
  min-height: 610px;

  @media (min-width: $desktop-width) {
    min-height: 870px;
  }
}

.contacts__relationships {
  margin-bottom: 20px;
  padding-top: 43px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding-top: 62px;
  }
}

.contacts__relationship {
  @include text-value(24px, 28px, 300, $text-color);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  @include list-init;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    margin-top: 40px;
  }
}

.contacts__item {
  width: 260px;
  margin-bottom: 5px;
  display: flex;
  order: 2;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-bottom: 25px;
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      order: 0;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin: auto;
    }

    @media (min-width: $desktop-width) {
      order: 1;
    }
  }
}

.contacts__title {
  @include text-value(18px, 22px, 700, $text-color);
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.contacts__text {
  @include text-value(24px, 28px, 300, $violet-color);
}

.contacts__text--email {
  padding-top: 5px;
}

.contacts__text--address {
  padding: 5px;
}

.contacts__map {
  height: 393px;
}
