.contacts {
  width: $panel-width;
  margin: 0 auto;
}

.contacts__relationships {
  margin-bottom: 20px;
  padding-top: 43px;
  display: flex;
  flex-direction: column;
}

.contacts__relationship {
  @include text-value(24px, 28px, 300, $text-color);
  margin: 0;
  text-align: center;
}

.contacts__list {
  @include list-init;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contacts__item {
  width: 260px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  @include text-value(18px, 22px, 700, $text-color);
  margin-bottom: 0;
}

.contacts__text {
  @include text-value(24px, 28px, 300, #cc3366);
}

.contacts__text--email {
  padding-top: 5px;
}

.contacts__text--address {
  padding: 5px;
}

/*.contacts__map {

}*/
