.downloads {
  margin: 0 auto;
  min-height: 240px;
  padding-top: 426px;
  background-color: $main-color;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 110px, center -70px;
  outline: 1px solid green;

  @media (min-width: $tablet-width) {
    min-height: 617px;
    padding-top: 0;
    background-position: right bottom, center -70px;
    background-size: 70%, cover;
  }

  @media (min-width: $desktop-width) {
    min-height: 745px;
    background: transparent;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: right 110px bottom;
    background-size: 50%;
  }
}

.downloads__title {
  font-size: 0;

  @media (min-width: $tablet-width) {
    @include text-value(40px, 48px, 300, white);
    text-align: center;
    margin: 95px 40px 30px;
  }

  @media (min-width: $desktop-width) {
    @include text-value(50px, 60px, 300, white);
    margin: 110px 40px 50px;
  }
}

.downloads__btn {
  $btn-width: $panel-width - 40px;

  @include btn($btn-width, white);
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include btn(300px, white);
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.downloads__apps {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.downloads__link {
  color: white;
}

.downloads__text {
  @include text-value(14px, 24px, 300, white);
  width: 280px;
  padding: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-value(18px, 24px, 300, white);
    width: 300px;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-left: 0;
    margin-left: 10px;
  }
}

.downloads__content {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}
