.downloads {
  margin: 0 auto;
  padding-top: 395px;
  background-color: transparent;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 110px;
  outline: 1px solid green;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 80%;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: center  bottom;
    background-size: 106%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 745px;
    background: transparent;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left 26px bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 109%;
      background-position: left 27px bottom;
    }
  }
}

.downloads__title {
  font-size: 0;

  @media (min-width: $tablet-width) {
    @include text-value(40px, 48px, 300, white);
    text-align: center;
    margin: 95px 40px 30px;
  }

  @media (min-width: $desktop-width) {
    @include text-value(50px, 60px, 300, white);
    margin: 110px 40px 53px;
  }
}

.downloads__btn {
  @include btn(280px, white, normal);
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include btn(300px, white, normal);
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    @include btn(300px, white, 1.8px);
    margin-bottom: 65px;
  }
}

.downloads__apps {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: $desktop-width) {
    width: 205px;
    padding-right: 5px;
    margin-bottom: 4px;
  }
}

.downloads__link {
  color: white;
}

.downloads__text {
  @include text-value(14px, 24px, 300, white);
  width: 280px;
  padding: 20px 20px 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-value(18px, 24px, 300, white);
    width: 300px;
    padding-top: 35px;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-left: 0;
    margin-left: 18px;
  }
}

.downloads__content {
  padding-top: 30px;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: 0;
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}
