.reviews {
  width: $panel-width;
  margin: 0 auto;
  min-height: 444px;
  outline: 1px solid fuchsia;
}

/*.reviews__slider {

}*/

.reviews__list {
  @include list-init;
  padding: 43px 20px;
  text-align: center;
}

.reviews__item:not(.reviews__item--active) {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__nikname {
  @include text-value(18px, 30px, 700, $text-color);
  margin: 0 auto 14px;
}

/*.reviews__text {

}*/
