.reviews {
  min-height: 444px;

  @include wrapper(fuchsia);
}

/*.reviews__slider {

}*/

.reviews__list {
  margin: 0;
  padding: 43px 20px;
  list-style: none;
  text-align: center;
}

.reviews__item:not(.reviews__item--active) {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__nikname {
  margin: 0 auto 14px;

  @include text-value(18px, 30px, 700, $text-color);
}

/*.reviews__text {

}*/
