.reviews {
  outline: 1px solid fuchsia;
}

.reviews__slider {
  @media (min-width: $desktop-width) {
    background: url("../img/icon-quotes.svg") center 20% no-repeat,
      url("../img/icon-review-arrow-left.svg") 1% 54% no-repeat,
      url("../img/icon-review-arrow-right.svg") 99% 54% no-repeat;
  }
}

.reviews__control {
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
}

.reviews__list {
  @include list-init;
  margin-bottom: 120px;
  padding: 42px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    margin-bottom: 130px;
  }
}

.reviews__item:not(.reviews__item--active) {
  display: none;
}

.reviews__item--active {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__name {
  @include text-value(18px, 30px, 700, $text-color);
  margin: 0 auto 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__about-author {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include text-value(14px, 30px, 400, $text-color);
    margin-top: 2px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  @include text-value(14px, 30px, 400, $text-color);

  &::before {
    display: inline-block;
    content: "«";
  }

  &::after {
    display: inline-block;
    content: "»";
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    padding: 125px 70px 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}
