.tariffs {
  outline: 1px solid lime;
  padding-bottom: 102px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.tariffs__slider {
  width: 1120px;
  margin-left: -540px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 618px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.tariffs__control {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariffs__str {
  height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 47px;
  }

  @media (min-width: $desktop-width) {
    height: 61px;
  }
}

.tariffs__str:first-child {
  height: 100px;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    height: 96px;
  }
}

.tariffs__empty {
  border-color: transparent;
  background-color: $gray-color;
}

.tariffs__name {
  text-align: center;
  border-left: 2px solid #e5e5e5;
}

.tariffs__title {
  @include text-value(18px, 30px, 700, white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.tariffs__value {
  @include text-value(24px, 30px, 300, white);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariffs__name--hit {
  position: relative;

  &::before {
    content: "";
    width: 61px;
    height: 61px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-image: url("..//img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "ХИТ";
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 16px;
    left: 14px;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      width: 61px;
      height: 61px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("..//img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "ХИТ";
      color: white;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 8px;
      left: 11px;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 74px;
      height: 73px;
      background-image: url("..//img/bg-hit.svg");
    }

    &::after {
      width: 37px;
      height: 37px;
      top: 15px;
      left: 13px;
    }
  }
}

/*.tariffs__name--active {

}*/

.tariffs__option {
  width: 280px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: attr(data-property);

      @include text-value(14px, 30px, 400, $text-color);
      padding-left: 22px;
      text-transform: uppercase;
    }
  }

  &--yes::before,
  &--no::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 15px;
    width: 27px;
    height: 27px;
    background-image: url("..//img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px auto;
  }

  &--yes::before {
    right: 17px;
    top: 12px;
    width: 32px;
    height: 32px;
    background-image: url("..//img/icon-yes.svg");
    background-size: 32px auto;
  }

  @media (min-width: $tablet-width) {
    @include text-value(14px, 30px, 400, $text-color);
    width: 142px;
    padding-left: 15px;

    &--yes::before,
    &--no::before {
      top: 7px;
      left: 61px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-left: 20px;

    &--yes::before,
    &--no::before {
      top: 16px;
      left: 102px;
    }
  }
}

/*.tariffs__name:first-child,
.tariffs__option:first-child,
.tariffs__name:last-child,
.tariffs__option:last-child {
  display: none;
}*/
